title: "COMPSCI 0.10"
description: "COMPSCI 0.10 (CS 0.10, CS 010, COMPSCI 010) - A free introductory computer science course for elementary students grades 4-6."
url: "https://compsci010.cn"
baseurl: ""
repository: LewisLiu819/COMPSCI-0.10

permalink: pretty

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"

# Excludes
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/

plugins:
  - jekyll-seo-tag
  - jekyll-github-metadata
  - jekyll-include-cache
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-minifier

markdown: kramdown
kramdown:
  syntax_highlighter_opts:
    block:
      line_numbers: false

# Languages
languages: ["zh", "en"]
default_lang: "zh"
